body{
	font-family: Helvetica, Tahoma, Arial, STXihei, "Microsoft YaHei", SimSun, Heiti, sans-serif;
}

.ui-icon-myapp-card:after {
	background-image: url("../imgs/card.png");
}

.ui-icon-myapp-sdcard:after {
	background-image: url("../imgs/sdcard.png");
}

.ui-icon-myapp-cellphone:after {
	background-image: url("../imgs/cellphone.png");
}

.ui-icon-myapp-book:after {
	background-image: url("../imgs/book.png");
}

.result_display img{
	position:absolute;
    top:0;
    bottom:0;
    margin:auto;
}

.detial_display img{
	width:100%;
}